html, body{
  height: 100%;
}
.wrapper{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.site-content{
  background: grey;
  position: relative;
  margin: 0 0 auto;
}

.container{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
